<p>Dear {{friend.firstname}} {{friend.lastname}} ,</p> 
<br />

<p> {{user.firstname}} {{user.lastname}} is asking if you know anywhere that provides good {{ask.service}} services in the parish of {{ask.parish}}, {{ask.area}}</p>

<br />
<p>
    <b>{{ user.firstname }} {{user.lastname}}'s question:</b> <br /> <br />
    {{ask.question}}
</p>

<br />
Click here to respond(No need for registration): <a href="{{url_for('sendrecommendation',askid=ask.id,friendid=friend.id,_external=True)}}">Send a  Recommendation </a>

<br />
<br />
<p>Regards,</p>
<p>The <code>ServiceJA</code> Team</p>
<p>www.serviceja.com</p>
