<p>Dear {{friend.firstname}} {{friend.lastname}} ,</p> 
<br />

<p> {{user.firstname}} {{user.lastname}} is thanking your for your recommendation of somewhere that provides good {{recommendation.service}} services in the parish of {{recommendation.parish}}, {{recommendation.area}}.</p>

<br />
You recommended: <b>{{ recommendation.name}}. </b>
<br />
<br />
<p>
    <b>{{ user.firstname }} {{user.lastname}}'s Message:</b> <br /> <br />
    {{message}}
</p>


<br />
<br />
<p>Regards,</p>
<p>The <code>HelpJM</code> Team</p>
<p>www.helpjm.com</p>
