<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h4>Hi, {{g.user.firstname}} {{g.user.lastname }}!</h4>

{% include 'flash.html' %}

<div class="row">
    <div class="col-md-12">
        You are responding to: {{ asker.firstname }} {{asker.lastname}} who needs somewhere that provides good <b>{{ask.service}}</b> services in the parish of {{ask.parish}}  {% if ask.area %}, {{ask.area}} {% endif %}
        <br />
        <br />

        {%if recommendations %}
        <div class="alert alert-info">
            Select the recommendations that you want to send to {{asker.firstname}} and use the send button below to complete this action.
        </div>
    {% endif %}

    </div>
</div>
    <div class="row">
        <div class="col-md-10">
            <h4>You have {{recommendations|length}} Recommendation(s) that matches  {{ask.service}} services</h4> 
            <br />
            {% if not recommendations %} 
                <!--<br /><br /><span class="alert alert-info">You have not created any Recommendations as yet!</span> -->
                <h3>You might want to go back to recommend a new Service Provider:</h3>
                <br />
                <a href="{{url_for('sendrecommendation',askid=ask.id,friendid=friend.id)}}" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-left"></span> Go Back</a>
            {% endif %}
            


           {% if recommendations %}           
          <table class="table" >
            <thead>
                <tr>
                    <th class="col-md-2">Select</th> <th class="col-md-5">Review</th> <th class="col-md-5">Details</th>
                </tr>
            </thead>
            {% endif %}

            
                {% if recommendations %}
                <form action="" method="post" name="sendrecommendation2" id="sendrecommendation2">
                {% endif %}

                {% for recommendation in recommendations %}

                    <tr class="{% if loop.index % 2==0 %}even{%else%}odd{% endif %}">

                    <td class="col-md-2">
                        <input type="checkbox"  name="sendmyrecommendations" value="{{recommendation.id}}"> 
                    </td>


                        <td class="col-md-5">
                            {% if recommendation.review %} 
                           
                            {{ recommendation.review }} 
                            {% else %}
                <span class="">[No Review Here]</span> 
                            {% endif %}
                            <br />
                            <br />
                            <span class="detailheading">Rating:</span> <span class="detail">{{recommendation.rating}}</span><br />
                            <span class="decordate">Created: {{format_time(recommendation.created)}}</span> <br />
                        </td>




                        <td class="col-md-5">
                            <span class="detailheading">Category:</span> <span class="detail">{{recommendation.category}}</span> <span class="detailheading">Service:</span> <span class="detail">{{recommendation.service}}</span> <span class="detailheading">Name:</span> <span class="detail">{{ recommendation.name }}</span> <span class="detailheading">Company:</span> <span class="detail">{{ recommendation.company }}</span> <span class="detailheading">Email:</span> <span class="detail">{{ recommendation.email }}</span> <span class="detailheading">Website:</span> <span class="detail">{{ recommendation.website }}</span> <span class="detailheading">Parish:</span> <span class="detail">{{recommendation.parish}}</span> <span class="detailheading">Area:</span><span class="detail">{{recommendation.area}}</span> 
                        </td>
                    </tr>

            {%endfor %}


            {% if recommendations %}

            <tr>
                <td colspan="3">
                    <br />
                    <button type="submit" class="btn btn-success btn-sm" name="btn" value="send"><span class="glyphicon glyphicon-envelope"></span> Send Selected Recommendations</button>
                <a href="{{url_for('recommendations')}}" class="btn btn-danger btn-sm">Cancel</a>
            </td> 
        </tr> 
       
        </form>

        {% endif %}


        
        {% if recommendations %} 
        </table>
        {% endif %}

        </div>

        
    </div>



{% endblock %}

