/* Move down content because we have a fixed navbar that is 50px tall */
html,body {
  /*padding-top: 30px;*/
  /*padding-bottom: 20px;*/
  height:100%;
 /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  /*background-color:#222222;*/
}



.odd{
    background:#F8F8F8; 
}

.even{
    background:#FFFFFF;
}

.detailheading{
    padding-left: 3px;
    color:#003300;
    font-weight:bold;
}

.detail{
    font-style:italic;
    padding-left: 5px;
}
.decordate{
    font-style:italic;
    font-size:10px;
    color:#003300;
}

#ad_table{
    margin-top: 40px;
}

.view_rec{
    font-style:italic;
    font-size:12px;
    color:#003300;

}

.viewreview{
    font-size:16px;
    /*color:#003300;*/
    color:#857E23;
}


a.mainlink:link {text-decoration:none; color:#B0B0B0;}    /* unvisited link */
a.mainlink:visited { text-decoration:none; color:#B0B0B0;} /* visited link */
a.mainlink:hover {text-decoration:none;color:#FFFFFF;}   /* mouse over link */
a.mainlink:active {text-decoration:none; color:#B0B0B0;}  /* selected link */

.copyright{
    /*color:#B0B0B0;*/
    color:#339900;
}
.divider{
    color:#FFFFFF;
}
.help-inline.myerror{
    color:#800000;
}

.replies{
    font-size:10px;
}

.mywarning{
    font-size:12px;
    color:#800000;
}



