/* Move down content because we have a fixed navbar that is 50px tall */
html,body {
  /*padding-top: 30px;*/
  padding-top: 0px !important;
  /*padding-bottom: 20px;*/
  height:100%;
 /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -200px;
  /* Pad bottom by footer height */
  padding: 0 0 200px;
}

/* Set the fixed height of the footer here */
#footer {
  min-height: 200px;
  /*background-color:#222222;*/
}



.odd{
    background:#F8F8F8; 
}

.even{
    background:#FFFFFF;
}

.detailheading{
    padding-left: 3px;
    color:#003300;
    font-weight:bold;
}

.detail{
    padding-left: 5px;
    color:#585858;
}
.decordate{
    font-style:italic;
    font-size:10px;
    color:#003300;
}

#ad_table{
    margin-top: 40px;
}

.view_rec{
    font-style:italic;
    font-size:12px;
    color:#003300;

}

.viewreview{
    font-size:16px;
    /*color:#003300;*/
    color:#857E23;
}


a.mainlink:link {text-decoration:none; color:#B0B0B0;}    /* unvisited link */
a.mainlink:visited { text-decoration:none; color:#B0B0B0;} /* visited link */
a.mainlink:hover {text-decoration:none;color:#FFFFFF;}   /* mouse over link */
a.mainlink:active {text-decoration:none; color:#B0B0B0;}  /* selected link */

.copyright{
    color:#EAC117;
    /*color:#339900;*/
}

.footerheading{
    color:#EAC117;
    font-weight:bold;
}
.divider{
    color:#FFFFFF;
}
.help-inline.myerror{
    color:#800000;
}

.replies{
    font-size:10px;
}

.mywarning{
    font-size:12px;
    color:#800000;
}

.mywell{
    background-color:#FFFFE0 !important;
}

.myhr{
    border-bottom: 1px solid #505050; 
    border-top: 1px solid #101010;
}
/* Align labels */
.fixlabel{
    text-align:left;
}
/* End Align labels */


/*This is for carousel*/
.slider-size {
    height: 400px; /* This is your slider height */
}
.carousel {
    width:100%; 
    margin:0 auto; /* center your carousel if other than 100% */ 
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.70);
}

/*End carousel*/
h3{
    color:#47A447;
}
ol.commentlist {
    color: #555;
    list-style-type: none;
    margin: 1.5em 0;
    padding: 0;
}
.commentlist li {
    margin-bottom: 0.5em;
    padding: 0.5em 1em;
}
