{% if ads %}

{% for ad in ads %}


<div id="addiv" class="col-md-8 col-md-offset-2">
    <a href="http://{{ad.website}}"><img src="{{url_for('uploaded_file',filename=ad.pic)}}"
                width="200px" height="100px"></a>
                <br />
                <b><span class="adtitle">{{ad.title}}</span></b> <br />
                <a href="http://{{ad.website}}" target="_blank">{{ad.website}}</a> <br />
                <span class="adbody">
                {{ad.body}}
                </span>
                <br />
                <hr>
</div>
{% endfor %}


{% endif %}
