<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h4>Hi, {{g.user.firstname}} {{g.user.lastname}}!</h4>
{% include 'flash.html' %}

    <div class="row">
        <div class="col-md-8">
            <h3>Edit Ad </h3> 

                    <form class="form-horizontal" action="{{url_for('editad',id=id)}}" method="post" enctype="multipart/form-data" name="editad" role="form">
                    {{form.hidden_tag()}}

                    <div class="form-group{% if form.errors.title %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="name">Title:</label>
                        <div class="col-md-8">
                            {{ form.title(class="form-control" )}}
                            {% for error in form.errors.title %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>


                <div class="form-group{% if form.errors.website %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="name">Website:</label>
                        <div class="col-md-8">
                            {{ form.website(class="form-control" )}}
                            {% for error in form.errors.website %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>





                    <div class="form-group{% if form.errors.body %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="body">Body:</label>
                        <div class="col-md-8">
                            {{ form.body(class="form-control" )}}
                            {% for error in form.errors.body %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>



                   <div class="form-group{% if form.errors.pic %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="pic">Pic:</label>
                        <div class="col-md-8">
                            {{ form.pic(class="form-control")}}
                            <img src="{{url_for('uploaded_file',filename=mypic)}}" width="107px" height="80px">

                            {% for error in form.errors.pic %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>


                       <div class="form-group{% if form.errors.ad_start_date %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="ad_start_date">Start Date:</label>
                        <div class="col-md-8">
                            {{ form.ad_start_date(class="form-control")}}
                            {% for error in form.errors.ad_start_date %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group{% if form.errors.ad_end_date %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="ad_end_date">End Date:</label>
                        <div class="col-md-8">
                            {{ form.ad_end_date(class="form-control")}}
                            {% for error in form.errors.ad_end_date %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Save Ad </button>

                            <a href="{{url_for('deletead',id=id)}}" class="btn btn-danger" onclick="javascript:return deleteItem();">Delete Ad</a>
                        </div>
                    </div>

                </form>

        </div>

        <div class="col-md-4">
            <h2>Advertisement</h2> 

           
        </div>
    </div>
{% endblock %}

