<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h4>Hi, {{g.user.firstname}} {{g.user.lastname}}!</h4>
{% include 'flash.html' %}
<h3>Create Recipe</h3>
    <hr>
<div class="row">
    <div class="col-md-12">
    <br />
    <br />


<div class="col-md-6">
<form role="form" action="" method="post" enctype="multipart/form-data" role="form">
    {{form.hidden_tag()}}
    <div class="form-group{% if form.errors.name %} has-error{% endif %}">
        <label for="name">Name</label>
            {{form.name(class="form-control",placeholder="Enter Recipe Name/Title....")}}
                            {% for error in form.errors.title %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
    </div>


    <div class="form-group{% if form.errors.serving %}has-error{% endif %}">
        <label for="serving">Serving</label>

            {{form.serving(class="form-control",placeholder="Enter Serving....")}}
                            {% for error in form.errors.serving %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
 
    </div>

          <div class="form-group{% if form.errors.category %}has-error{% endif %}">
        <label for="serving">Category</label>

            {{form.category(class="form-control")}}
                            {% for error in form.errors.category %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
 
    </div>




    <div class="form-group{% if form.errors.description %} has-error{% endif %}">
        <label for="description">Description</label>
            {{form.description(class="form-control",placeholder="Enter description....",maxlength="140",rows="5")}}
                            {% for error in form.errors.description %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
    </div>


        <div class="form-group{% if form.errors.ingredients %} has-error{% endif %}">
        <label for="ingredients">Ingredients: <i>(Enter one line at a time by pressing Enter)</i></label>
            {{form.ingredients(class="form-control",placeholder="eg. 1 lb Sugar",rows="10")}}
                            {% for error in form.errors.ingredients %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
    </div>


        <div class="form-group{% if form.errors.instructions %} has-error{% endif %}">
        <label for="instructions">Instructions: <i>(Enter one line at a time by pressing Enter)</i></label>
            {{form.instructions(class="form-control",placeholder="Mix milk into flour",rows="10")}}
                            {% for error in form.errors.instructions %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
    </div>


    <div class="form-group {% if form.errors.picture %} has-error {% endif %}">
        <label for="picture">Upload Picture<span class="help-inline myerror">*</span></label>
        {{form.picture(class="form-control")}}
                <span style="color:blue;">[Max Size: 1MB]</span>
                            {% for error in form.errors.picture %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}

    </div>


    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-default">Save Recipe</button>
        </div>
    </div>
</form>
</div>




    </div>
</div>
{% endblock %}
