<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
    <h3>About Us</h3>
    <hr>
<div class="row">
    <div class="col-md-12">
    <br />
    <h3>Welcome to HelpJM.</h3>
    <br />
    <p>
        <br />
HelpJM is a startup that will make it easy to find good services and assistance based on recommendations from people in your friends network.
</p>

<p>
Through HelpJM, you can easily contact your friends when in need of recommended services. Why make phone calls to multiple persons when you need a good painter, mechanic, babysitter or doctor? Getting efficient and trusted recommendations from friends is just a click away. 
    </p>
    <br />
    <p>
        To get started, click <a href="{{url_for('gettingstarted')}}">here</a>
    </p>

    </div>
</div>
{% endblock %}
