<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h4>Hi, {{g.user.firstname}} {{g.user.lastname}}!</h4>
{% include 'flash.html' %}

    <div class="row">
               
        <div class="col-md-8">
            <h3><span class="glyphicon glyphicon-user"></span> My Friends ({{friends|length}}) </h3> 
            <hr>

            {% if not friends %} 
            <br />
                <h3>You have not created any Friends as yet!</h3>
                <br />
                <h4>Begin by creating your friends. <span class="glyphicon glyphicon-arrow-right"></span></h4>
                {% endif %}
            {% if friends %}
                <p class="mywarning">
                    <b>NB:</b> If you delete a friend. All associated information will also be deleted. However, any ASKS that were sent to this friend will <b>NOT</b> be deleted.
                </p>


                <form action="{{url_for('deletemultiplefriends')}}" method="post" onsubmit="return deleteMultipleItems()" name="deletemultiplefriends" id="deletemultiplefriends">
                    {{form.hidden_tag()}}
            <table class="table">
                <thead><tr>
                <th>Select</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Edit</th>

                </tr>
                </thead>
                {% endif %}


            {% for friend in friends: %}
                    <tr class="{% if loop.index % 2==0 %}even{%else%}odd{% endif %}">
                        <td><input type="checkbox"  name="friends" value="{{friend.id}}"></td>   
                    <td>{{friend.firstname}}</td>   
                    <td>{{friend.lastname}}</td>   
                    <td>{{friend.email}}</td>   
                    <td> 
                        <a href="{{url_for('editfriend',id=friend.id)}}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                    </td>   
                </tr>
            {% endfor %}

            {% if friends %}
            </table>
            <button type="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete Selected Friends</button>

            </form>
            {% endif %}


        </div>

        <div class="col-md-4">
            <h3 class="col-md-offset-2">Create New Friend</h3> 
            <br />

           
            
            <form class="form-horizontal" action="" method="post" name="friend" role="form">
                    {{form.hidden_tag()}}

                    
                    <div class="form-group{% if form.errors.firstname %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="firstname">First Name: <span class="help-inline myerror">*</span></label>
                        <div class="col-md-8">
                            {{ form.firstname(class="form-control" )}}
                            {% for error in form.errors.firstname %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group{% if form.errors.lastname %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="lastname">Last Name: <span class="help-inline myerror">*</span></label>
                        <div class="col-md-8">
                            {{ form.lastname(class="form-control" )}}
                            {% for error in form.errors.lastname %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>



                   <div class="form-group{% if form.errors.email %} has-error{% endif %}">
                       <label class="col-md-4 control-label" for="email">Email: <span class="help-inline myerror">*</span></label>
                        <div class="col-md-8">
                            {{ form.email(class="form-control")}}
                            {% for error in form.errors.email %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Create a Friend</button>
                        </div>
                    </div>
                </form>
        
        </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Please wait while we import your contacts..........</h4>
        </div>
        <div class="modal-body">

    <div class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
    </div>
    </div>

        </div> <!-- modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->







{% endblock %}

