<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="row">
    <div class="col-md-12">
    <h3>Getting Started</h3>
    <hr>
    <br />
<br />
<br />


<h4><b>Finding Services</b></h4>

<h4>Step 1: Sign up for an account</h4>

<p>
    You can sign up with ServiceJA    by clicking <a href="{{url_for('register')}}">Sign Up</a>. 
</p>
<br />
<h4>Step 2: Add or Import Google Contacts</h4>

<p>
    Once you have a valid ServiceJA    account, you will need to add your friends or import the specific google contacts that you want to send requests to. 
</p>
<br />

<h4>Step 3: Sending Asks</h4>
<p>
    You will now need to create an Ask. The form will be located on the right side of your main page once you log in. After you select and enter the desired fields, you will then be prompted to select the friends that you want to send the Ask to. This action will notify your friends of your request. Your friends will be given a link that they can use to enter the recommendation/help. Your friends will <b>NOT</b> need an account to perform this task. Once your friends reply to your request you will be notified by email. You will also be able to view your friends' replies when you log in. This reply will then be converted to a recommendation that will be searchable by anyone using ServiceJA   . However, the creator of this recommendation and the reviews from friends for this recommendation, will be anonymous to the public.
</p>
<br />
<h4>The steps above give you the basics in getting started. Other functions of ServiceJA    include:</h4>

<ul>
    <li>Create your own Recommendations, these will be searchable by anyone using ServiceJA   . You will also be able to modify and delete these Recommendations.</li>
    <li>Select certain criteria to search for Recommendations available at ServiceJA   .</li>
    <li>Resend Asks to friends.</li>
    <li>Edit and Resend Asks to friends. <b>NB:</b> Once you edit an existing ask, sending will create a new Ask.</li>
    <li>If you are satisfied with the response to an Ask, you can now close that Ask. This action will send that Ask to a history page.</li>
    <li>After you have closed an Ask, it is now possible for you to delete that Ask.</li>
</ul>

<br />

</div>
    </div>
{% endblock %}
