<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="row">
    <div class="col-md-12">
    <h3>Getting Started</h3>
    <hr>
    <br />
<br />
<br />
<h4>Step 1: Create an account</h4>

<p>
    You can create an account at HelpJM by clicking on this link: <a href="{{url_for('register')}}">Create an Account</a>, which is also available  above. There is also an option to log in using your facebook account.
</p>
<br />
<h4>Step 2: Add or Import Google Contacts</h4>

<p>
    Once you have a valid HelpJM account, you will need to Add your friends or Import the specific google contacts that you want to send requests to. 
</p>
<br />

<h4>Step 3: Sending Asks</h4>
<p>
You will now need to create an Ask. The form will be located on the right side of your main page once you log in. After you select and enter the desired fields, you will then be prompted to select the friends that you want to send the Ask to. This action will notify your friends of your request. Your friends will be given a link that they can use to enter the recommendation. You friend will not need an account to perform this task. Once your friends reply to your request you will be notified by email. You will also be able to view you friends replies when you log in.
</p>
<br />
<h4>The steps above gives you the basics in getting started. Other functions of HelpJM include:</h4>

<ul>
    <li>Create your own Recommendations, these will be searchable by all memebers of HelpJM. You will also be able to modify and delete these Recommendations.</li>
    <li>Select certain criteria to search for Recommendations available at HelpJM.</li>
    <li>Resend Asks to friends.</li>
    <li>Edit and Resend Asks to friends. <b>NB:</b> Once you edit an existing ask, sending will create a new Ask.</li>
    <li>If you are satisfied with you response, you can now close your Ask. This will create a history of your Asks.</li>
</ul>

<br />

</div>
    </div>
{% endblock %}
