<p>Dear {{user.firstname}} {{user.lastname}},</p> 
<br />

<p> {{friend.firstname}} {{friend.lastname}} responded to your ask for somewhere that provides good  {{ask.service}} services.</p>

<p>{{friend.firstname}} has {{recList|length}} recommendation(s) for you:</p>
<br />

{% for r in recList %}
Click here to view: <a href="{{url_for('viewrecommendation',recommendationid=r,_external=True)}}">View  Recommendation </a>
<br />
{% endfor %}

<br />
<br />
<p>Regards,</p>
<p>The <code>HelpJM</code> Team</p>
<p>www.helpjm.com</p>
