<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h4>Hi, {{g.user.firstname}} {{g.user.lastname}}!</h4>
{% include 'flash.html' %}
<h3 align='center'>Search for a Service Provider</h3>
<div class="row">
    <div class="col-md-8">
        <h3>Search Results({% if recommendations.total %} Total Results: {{recommendations.total}} {% else %}0{% endif %})</h3>
        {% if recommendations.items %}
        {{recommendations.page}} of 
        {{recommendations.pages}}
        {% endif %}

        <hr>
    <br />
    {% if not recommendations.items %} 
                <h3> No Search Results!</h3>

    {% endif %}



        {% if recommendations.items %}
        <table class="table">
<thead><tr>
                <th>Service</th>
                <th>Name</th>
                <th>Parish</th>
                <th>Area</th>
                <th>Rating</th>
                </tr>
                </thead>

        {% endif %}


        {% for recommendation in recommendations.items %}
                    <tr class="{% if loop.index % 2==0 %}even{%else%}odd{% endif %}">
                <td>{{recommendation.service}}</td> 
                <td><a href="{{url_for('viewrecommendation',recommendationid=recommendation.id)}}">{{recommendation.name}}</a></td> 
                <td>{{recommendation.parish}}</td>
                <td>{{recommendation.area}}</td> 
                <td>{{recommendation.rating}}</td>
            </tr>
        {% endfor %}

{% if recommendations.items %} </table> {% endif %}
<br />
<br />

<ul class="pager">
    {% if recommendations.has_prev %}
        <li class="previous"><a href="?page={{recommendations.prev_num}}&amp;{{queries}}"><span class="glyphicon glyphicon-backward"></span> Prev Recommendations</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Prev Recommendations</a></li>
    {% endif %}
    {% if recommendations.has_next %}
        <li class="next"><a href="?page={{recommendations.next_num}}&amp;{{queries}}">Next Recommendations <span class="glyphicon glyphicon-forward"></span></a></li>
    {% else %}
    <li class="next disabled"><a href="#">Next Recommendations</a></li>
    {% endif %}
</ul>



            </div>


    <div class="col-md-4">
    <h3>Search</h3>


    <form class="form-horizontal" action="" method="get" name="search_form" id="search_form" onsubmit="return validateSearchForm();" role="form">

                    <div class="form-group{% if form.errors.post %} has-error{% endif %}">
                        <label class="col-md-4 control-label" for="category">Category:</label>
                        <div class="col-md-8">
                            {{ form.category(class="form-control" )}}
                            {% for error in form.errors.category %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group{% if form.errors.post %}error{% endif %}">
                        <label class="col-md-4 control-label" for="service">Service:</label>
                        <div class="col-md-8">
                            {{ form.service(class="form-control" )}}
                            {% for error in form.errors.service %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group{% if form.errors.post %}error{% endif %}">
                        <label class="col-md-4 control-label" for="category">Parish:</label>
                        <div class="col-md-8">
                            {{ form.parish(class="form-control")}}
                            {% for error in form.errors.parish %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group{% if form.errors.post %}error{% endif %}">
                        <label class="col-md-4 control-label" for="category">Area:</label>
                        <div class="col-md-8">
                            {{ form.area(class="form-control")}}
                            {% for error in form.errors.area %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>



                <div class="form-group{% if form.errors.post %}error{% endif %}">
                        <label class="col-md-4 control-label" for="rating">Rating:</label>
                        <div class="col-md-8">
                            {{ form.rating(class="form-control")}}
                            {% for error in form.errors.rating %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>



                    <div class="form-group{% if form.errors.post %}error{% endif %}">
                        <label class="col-md-4 control-label" for="recommendedby">Recommended By:</label>
                        <div class="col-md-8">
                            {{ form.recommendedby(class="form-control" )}}
                            {% for error in form.errors.recommendedby %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-success" name="btn" value="sendsearch"><span class="glyphicon glyphicon-search"></span> Search</button>
                            <input type="hidden" name="mybtn" value="sendsearch">
                        </div>
                    </div>
                </form>

        {% include 'ads.html' %}
    </div>




</div>
{% endblock %}
