<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="row">
    <div class="col-md-12">
    <h3>Recommendation</h3>
    <hr>
    <br />
    <b>{% if recommender %}{{recommender.firstname}} {{recommender.lastname}}'s{% endif %} </b> Recommendation for somewhere that provides good {{recommendation.service}} services: <br />
    <h3>{{recommendation.name}} {% if recommendation.company %}- {{recommendation.company}} {% endif %}</h3>
    {% if recommendation.phone %}<span class="detailheading">Phone:</span> <span class="detail">{{ create_phone(recommendation.phone)}}</span>, {% endif %}
    {% if recommendation.email %}<span class="detailheading">Email:</span> <span class="detail"><a href="mailto:{{recommendation.email}}">{{recommendation.email}}</a></span>, {% endif %}
    {% if recommendation.website %}<span class="detailheading">Website:</span> <span class="detail"><a href="http://{{recommendation.website}}" target="_blank">{{recommendation.website}}</a></span>, {% endif %}
    {% if recommendation.parish %}<span class="detailheading">Parish:</span> <span class="detail">{{recommendation.parish}}</span>, {% endif %}
    {% if recommendation.area %}<span class="detailheading">Area:</span> <span class="detail">{{recommendation.area}}</span> {% endif %}

    <br />
    <br />
    <!--<span class="detailheading">Category:</span> <span class="detail">{{recommendation.category}}</span> <br />-->
    <!--<span class="detailheading">Service:</span> <span class="detail">{{recommendation.service}}</span><br />-->


    <br />



    <h2>{% if recommender %}{{recommender.firstname}}'s Review{% else %}User Review {% endif %}</h2>
    <div class="alert alert-info">
        {% if recommendation.review %}<span class="viewreview">{{recommendation.review}}</span>{% else %} <span class="help-inline myerror">[Recommender did not write a review ]</span>{% endif %} <br />
    <br /> 
    <b>Rating:</b> <span class='label label-{%if recommendation.rating=='Excellent' %}success{% elif recommendation.rating=='Very Good'%}primary{% elif recommendation.rating=='Average'%}default{% elif recommendation.rating=='Poor' %}warning{% else %}danger{% endif %}'> {{recommendation.rating}}</span> &nbsp;
    
    {% if recommendation.rating == 'Excellent' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    {% elif recommendation.rating == 'Very Good' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>

    {% elif recommendation.rating == 'Average' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>

    {% elif recommendation.rating == 'Poor' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    {% else %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    {% endif %} 

    <br /> 
    <b>Created:</b> <i>{{ momentjs(recommendation.created).calendar() }}</i>
    </div>

    <hr>

        <h3>Other Reviews ({{reviews|length}})</h3>
        <i><b>NB:</b> These Reviews are from persons who were sent this recommendation by their friends.</i>
        <br />
        <br />
        {% if reviews %}

            {% for review in reviews %}

<div class="alert alert-warning">
        <span class="viewreview">{{review.review}}</span>
    <br /> 
    <br /> 
    <b>Rating:</b> <span class='label label-{%if review.rating=='Excellent' %}success{% elif review.rating=='Very Good'%}primary{% elif review.rating=='Average'%}default{% elif review.rating=='Poor' %}warning{% else %}danger{% endif %}'> {{review.rating}}</span> &nbsp;
    
    {% if review.rating == 'Excellent' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    {% elif review.rating == 'Very Good' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>

    {% elif review.rating == 'Average' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>

    {% elif review.rating == 'Poor' %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    {% else %}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    {% endif %} 

    <br /> 
    <b>Created:</b> <i>{{ momentjs(review.created).calendar() }} by {{review.reviewowner.firstname}} {{review.reviewowner.lastname}}</i>
    </div>
    <br />
    {% endfor %}

        {% else %}
            <br />
            <h4 style="color:red;"> [There are no other reviews for this recommendation] </h4>
        
        {% endif %}






        
    </div>
    </div>
{% endblock %}
